h1 {
	color: teal;
	text-shadow: goldenrod 4px 4px 4px;
}

body {
	background-image: url(http://www.commentnation.com/backgrounds/images/gray_pawprints_on_white_background.gif);
	text-align: center;
}

footer {
	background-color: gold;
	display: fixed;
	bottom: 0;
}

header{
	background-color: gold;
	margin: 0;
	padding: 30px;
}

a{
	color: lightgrey!important;
}

a:hover {
	color: grey!important;
}

.doglist {
	width: 400px!important;
	height: auto;
	margin: 0 auto;
	background-color: white;
	padding: 40px;
}

.formblock {
	background-color: white;
}